/* REGOLE GENERICHE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
}

.container {
    max-width: 1170px;
    margin: auto;
}

/* FINE REGOLE GENERICHE */


.title {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.carosello {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images-container {
    width: 700px;
    height: 500px;
    background-color: white;
    position: relative;
}

.left-arrow, .right-arrow {
    width: 40px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

/* le immagini dovranno avere il display none e solo quella con la classe 'current' deve esssere visibile */

.images-container > img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* classe corrente per l'img corrente nel carosello */
.images-container > img.current {
    display: block;
}


/* PALLINI CHE DEVONO CAMBIARE AL CLICK */
.point-switcher {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    cursor: pointer;
}
